In [1]:
import pandas as pd
import json

In [5]:
with open('t20_json_files/t20_json_files/t20_wc_match_results.json') as f:
    data = json.load(f)

In [7]:
df_match = pd.DataFrame(data[0]['matchSummary'])

In [13]:
df_match.rename({'scorecard' : 'id'}, axis = 1,inplace = True)

In [14]:
df_match.head()

,team1,team2,winner,margin,ground,matchDate,id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [30]:
match_id_dict = {}
for index,row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + 'Vs' + row['team1']
    
    match_id_dict[key1] = row['id']
    match_id_dict[key2] = row['id']

match_id_dict

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri LankaVsNamibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E.VsNetherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West IndiesVsScotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'ZimbabweVsIreland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'NetherlandsVsNamibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E.VsSri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'ScotlandVsIreland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'ZimbabweVsWest Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri LankaVsNetherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E.VsNamibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West IndiesVsIreland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'ZimbabweVsScotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New ZealandVsAustralia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'EnglandVsAfghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri LankaVsIreland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'PakistanVsIndia': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'NetherlandsVsBangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'ZimbabweVsSouth Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri LankaVsAustralia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'IrelandVsEngland': 'T20I # 1846',
 'Afghanistan Vs New Zealand': 'T20I # 1846a',
 'New ZealandVsAfghanistan': 'T20I # 1846a',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South AfricaVsBangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'NetherlandsVsIndia': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'ZimbabweVsPakistan': 'T20I # 1849',
 'Afghanistan Vs Ireland': 'T20I # 1849a',
 'IrelandVsAfghanistan': 'T20I # 1849a',
 'Australia Vs England': 'T20I # 1849b',
 'EnglandVsAustralia': 'T20I # 1849b',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri LankaVsNew Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'ZimbabweVsBangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'PakistanVsNetherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South AfricaVsIndia': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'IrelandVsAustralia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri LankaVsAfghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New ZealandVsEngland': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'ZimbabweVsNetherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'IndiaVsBangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South AfricaVsPakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New ZealandVsIreland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'AfghanistanVsAustralia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri LankaVsEngland': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South AfricaVsNetherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'PakistanVsBangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'ZimbabweVsIndia': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'PakistanVsNew Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'IndiaVsEngland': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'PakistanVsEngland': 'T20I # 1879'}

**Batting Summary**

In [31]:
with open('t20_json_files/t20_json_files/t20_wc_batting_summary.json') as f:
    data = json.load(f)
    
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])

df_batting = pd.DataFrame(all_records)
df_batting.tail()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
694,Pakistan Vs England,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11
695,Pakistan Vs England,England,4,Ben Stokes,,52,49,5,1,106.12
696,Pakistan Vs England,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95
697,Pakistan Vs England,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15
698,Pakistan Vs England,England,7,Liam Livingstone,,1,1,0,0,100.00

In [32]:
df_batting['Out/NotOut'] =  df_batting.dismissal.apply(lambda x:'Out' if len(x)>0 else 'NotOut')
df_batting.tail()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,Out/NotOut
694,Pakistan Vs England,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11,Out
695,Pakistan Vs England,England,4,Ben Stokes,,52,49,5,1,106.12,NotOut
696,Pakistan Vs England,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95,Out
697,Pakistan Vs England,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15,Out
698,Pakistan Vs England,England,7,Liam Livingstone,,1,1,0,0,100.00,NotOut

In [33]:
df_batting.drop(columns = 'dismissal', inplace = True)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,Out/NotOut
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,Out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,Out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,Out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,Out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,Out

In [34]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,Out/NotOut
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,Out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,Out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,Out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,Out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,Out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,Out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,Out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,NotOut
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,Out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,Out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,Out

In [35]:
df_batting['id'] = df_batting['match'].map(match_id_dict)

df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,Out/NotOut,id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,Out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,Out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,Out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,Out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,Out,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,Out,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,Out,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,NotOut,T20I # 1823
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,Out,T20I # 1823
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,Out,T20I # 1823
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,Out,T20I # 1823

In [36]:
with open('t20_json_files/t20_json_files/t20_wc_bowling_summary.json') as f:
    data = json.load(f)
    
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])

df_bowling = pd.DataFrame(all_records)
df_bowling.tail()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [38]:
df_bowling['id'] = df_bowling['match'].map(match_id_dict)

df_bowling.head(11)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,Gerhard Erasmus,1,0,8,0,8.00,1,1,0,0,0,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,David Wiese,4,0,16,2,4.00,13,1,0,0,0,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,Bernard Scholtz,4,0,18,2,4.50,10,1,0,0,0,T20I # 1823
8,Namibia Vs Sri Lanka,Namibia,Ben Shikongo,3,1,22,2,7.33,6,3,0,0,0,T20I # 1823
9,Namibia Vs Sri Lanka,Namibia,JJ Smit,3,0,16,1,5.33,7,0,0,1,0,T20I # 1823
10,Namibia Vs Sri Lanka,Namibia,Jan Frylinck,4,0,26,2,6.50,10,0,2,1,0,T20I # 1823

In [39]:
with open('t20_json_files/t20_json_files/t20_wc_player_info.json') as f:
    data = json.load(f)
    
df_players = pd.DataFrame(data)

df_players.head()

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,